<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding container">
  <!-- <h1>Forgot Password</h1> -->
  <div class="form-container">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button [disabled]="validateEmail()" expand="block" class="main-button" (click)="sendEmail()">
      <span>Send Email</span>
    </ion-button>

    </div>
  </div>

</ion-content>
